//
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

 html, body {
    background-color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    height: 100vh;
    margin: 0;
}

.content {
    margin: 5px;
}

.title {}

.card {}
