@use '_config' as *;
@use '_mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

 html, body {
    background-color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    margin: 0;
}

.content {
    margin: 5px 5px;
}

.title {}

.cards-container {
    @include md {
        display: flex;

        /* Put a card in the next row when previous cards take all width */
        flex-wrap: wrap;
    }
}

.card {
    margin: 5px auto 10px;

    @include md {
        flex-basis: 50%;
        margin: 0px;
    }

    @include lg {
        flex-basis: 33.3%;
        margin: 0px;
    }

    & > .card-content {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }

    h2 {
        margin: 0px 0px 5px;
        font-size: 1.2rem;
    }

    p {
        margin: 0px;
        font-size: 2rem;
    }

    &.orange > .card-content {
        background-color: orangered;

        p {
            color: white;
        }
    }

    &.blue > .card-content {
        background-color: lightblue;

        p {
            color: blue;
        }
    }

    &.green > .card-content {
        background-color: lightgreen;

        p {
            color: green;
        }
    }

    &.red > .card-content {
        background-color: red;

        p {
            color: wheat;
        }
    }
}
