//
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

 html, body {
    background-color: #fff;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    height: 100vh;
    margin: 2px;
}

.content {
    margin: 5px auto;
    max-width: 960px;
}

.title {}

.card {
    max-width: 350px;
    margin: 5px auto 10px;
    padding: 12px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


    h2 {
        margin: 0px 0px 5px;
        font-size: 1.2rem;
    }

    p {
        margin: 0px;
        font-size: 2rem;
    }

    &.orange {
        background-color: orangered;

        p {
            color: white;
        }
    }

    &.blue {
        background-color: lightblue;

        p {
            color: blue;
        }
    }

    &.green {
        background-color: lightgreen;

        p {
            color: green;
        }
    }

    &.red {
        background-color: red;

        p {
            color: wheat;
        }
    }
}
