@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap);html,
body {
  background-color: #fff;
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  height: 100vh;
  margin: 0;
}

.content {
  margin: 5px auto;
  max-width: 960px;
}

.card {
  max-width: 350px;
  margin: 5px auto 10px;
  padding: 12px;
  border-radius: 5px;
}

.card h2 {
  margin: 0px 0px 5px;
  font-size: 1.2rem;
}

.card p {
  margin: 0px;
  font-size: 2rem;
}

.card.orange {
  background-color: orangered;
}

.card.orange p {
  color: white;
}

.card.blue {
  background-color: lightblue;
}

.card.blue p {
  color: blue;
}

.card.green {
  background-color: lightgreen;
}

.card.green p {
  color: green;
}

.card.red {
  background-color: red;
}

.card.red p {
  color: wheat;
}

