@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap);html,
body {
  background-color: #fff;
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  margin: 0;
}

.content {
  margin: 5px 5px;
}

@media (min-width: 768px) {
  .cards-container {
    display: flex;
    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
  }
}

.card {
  margin: 5px auto 10px;
}

@media (min-width: 768px) {
  .card {
    flex-basis: 50%;
    margin: 0px;
  }
}

@media (min-width: 992px) {
  .card {
    flex-basis: 33.3%;
    margin: 0px;
  }
}

.card > .card-content {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.card h2 {
  margin: 0px 0px 5px;
  font-size: 1.2rem;
}

.card p {
  margin: 0px;
  font-size: 2rem;
}

.card.orange > .card-content {
  background-color: orangered;
}

.card.orange > .card-content p {
  color: white;
}

.card.blue > .card-content {
  background-color: lightblue;
}

.card.blue > .card-content p {
  color: blue;
}

.card.green > .card-content {
  background-color: lightgreen;
}

.card.green > .card-content p {
  color: green;
}

.card.red > .card-content {
  background-color: red;
}

.card.red > .card-content p {
  color: wheat;
}

